@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rosewater: #ff8389;
  --flamingo: #ff8389;
  --red: #ff8389;
  --maroon: #ff8389;
  --pink: #ff7eb6;
  --mauve: #be95ff;
  --peach: #d44a1c;
  --yellow: #ab8600;
  --green: #08bdba;
  --teal: #33b1ff;
  --sky: #33b1ff;
  --sapphire: #33b1ff;
  --blue: #78a9ff;
  --lavender: #78a9ff;
  --text: #ffffff;
  --subtext1: #f4f4f4;
  --subtext0: #e0e0e0;
  --overlay2: #adadad;
  --overlay1: #949494;
  --overlay0: #7a7a7a;
  --surface2: #4f4f4f;
  --surface1: #383838;
  --surface0: #2e2e2e;
  --base: #161616;
  --mantle: #0d0d0d;
  --crust: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --rosewater: #c14a4a;
    --flamingo: #c14a4a;
    --pink: #945e80;
    --mauve: #945e80;
    --red: #c14a4a;
    --maroon: #c14a4a;
    --peach: #c35e0a;
    --yellow: #a96b2c;
    --green: #6c782e;
    --teal: #4c7a5d;
    --sky: #4c7a5d;
    --sapphire: #4c7a5d;
    --blue: #45707a;
    --lavender: #45707a;
    --text: #654735;
    --subtext1: #7b5d44;
    --subtext0: #8f6f56;
    --overlay2: #a28368;
    --overlay1: #b6977a;
    --overlay0: #c9aa8c;
    --surface2: #A79C86;
    --surface1: #C9C19F;
    --surface0: #DFD6B1;
    --base: #fbf1c7;
    --mantle: #F3EAC1;
    --crust: #E7DEB7;
  }
}

:root {
  @apply scroll-smooth font-sans text-text bg-base antialiased selection:bg-surface1 leading-relaxed;
  font-family: "Cartograph CF";
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-BoldItalic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-RegularItalic.woff2") format('woff2');
  font-style: italic;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.underlined {
  @apply underline decoration-surface2 decoration-2 underline-offset-4 transition-colors duration-300 hover:decoration-overlay2 active:decoration-overlay1;
}

@media (hover: hover) and (pointer: fine) {
  .animated-list li {
    @apply transition-all duration-300
  }

  .animated-list:hover li {
    @apply opacity-50
  }

  .animated-list:hover li:hover {
    @apply opacity-100
  }
}
