:root {
  --rosewater: #ff8389;
  --flamingo: #ff8389;
  --red: #ff8389;
  --maroon: #ff8389;
  --pink: #ff7eb6;
  --mauve: #be95ff;
  --peach: #d44a1c;
  --yellow: #ab8600;
  --green: #08bdba;
  --teal: #33b1ff;
  --sky: #33b1ff;
  --sapphire: #33b1ff;
  --blue: #78a9ff;
  --lavender: #78a9ff;
  --text: #ffffff;
  --subtext1: #f4f4f4;
  --subtext0: #e0e0e0;
  --overlay2: #adadad;
  --overlay1: #949494;
  --overlay0: #7a7a7a;
  --surface2: #4f4f4f;
  --surface1: #383838;
  --surface0: #2e2e2e;
  --base: #161616;
  --mantle: #0d0d0d;
  --crust: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --rosewater: #da1e28;
    --flamingo: #da1e28;
    --red: #da1e28;
    --maroon: #da1e28;
    --pink: #d02670;
    --mauve: #8a3ffc;
    --peach: #d44a1c;
    --yellow: #ab8600;
    --green: #007d79;
    --teal: #1192e8;
    --sky: #1192e8;
    --sapphire: #1192e8;
    --blue: #0f62fe;
    --lavender: #0f62fe;
    --text: #000000;
    --subtext1: #404040;
    --subtext0: #474747;
    --overlay2: #575757;
    --overlay1: #595959;
    --overlay0: #737373;
    --surface2: #8c8c8c;
    --surface1: #d1d1d1;
    --surface0: #e6e6e6;
    --base: #ffffff;
    --mantle: #f2f2f2;
    --crust: #ebebeb;
  }
}

:root {
  font-family: Cartograph CF;
  background-color: var(--base);
  color: var(--text);
  line-height: 1.6;
}


@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-Bold.woff2") format('woff2');
  font-weight: bold;
}

.underlined {
  all: unset;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  text-decoration-color: var(--surface2);
}

.underlined:hover {
  text-decoration-color: var(--overlay2);
}

.underlined:active {
  text-decoration-color: var(--overlay1);
}

@media (hover: hover) and (pointer: fine) {
  .animated-list li {
    all: unset;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 4px;
}
